<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta_tags %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="I'm Chris Rowles, a Software Developer based in Rushden, United Kingdom. Please get in touch for a free quote on your project, I would love to help!">
        <meta name="author" content="Chris Rowles">

        <meta property="og:title" content="Chris Rowles | Software Developer" />
        <meta property="og:description" content="I'm Chris Rowles, a Full Stack Developer based in Rushden, United Kingdom. Please get in touch for a free quote on your project, I would love to help!">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.rowles.ch" />
    {% endblock %}

    <link rel="stylesheet" href="{{ asset({file: 'rowles.bundle.css'}) }}">

    <title>{{ title }}</title>
    {% block additional_styles %}{% endblock %}
</head>
<body class="montserrat">
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand me-4" href="/"><div id="logo"> CR </div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-navbar"
            aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="site-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                {# <li class="nav-item"><a class="nav-link" href="/">Home</a></li> #}
                {# <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li> #}
            </ul>

            <ul class="navbar-nav ms-auto gap-2 d-none d-md-flex">
                <li class="nav-item"><a class="nav-link" href="https://www.twitter.com/_raekw0n"><i class="fab fa-twitter fa-2xl"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/raekw0n"><i class="fab fa-github fa-2xl"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/chris-rowles/"><i class="fab fa-linkedin fa-2xl"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="mailto:crowles.sdx@gmail.com"><i class="fa fa-envelope fa-2xl"></i></a></li>
                {% if session.authenticated %}
                    <li class="nav-item ms-3"><a class="nav-link" href="/logout"><i class="fa fa-power-off text-danger fa-2xl"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main id="content-wrapper" data-scroll>
    {% if env('APP_ENV') is not same as('production') %}
        <div class="environ-banner">
            <div class={{ env("APP_ENV") }}>
                <p>{{ env("APP_ENV") }}</p>
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</main>

<div id="footer" class="mt-1">
    Made with <i class="fa fa-heart love"></i> by CR
</div>
<script type="text/javascript" src="{{ asset({file: 'rowles.bundle.js'}) }}"></script>
{% block additional_scripts %}{% endblock %}
</body>
</html>
