{% extends "layout.twig" %}

{% block additional_styles %}
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="page-header">

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-2-3">
                    <h1>{{ post.title }}</h1>
                    By {{ post.author }} on <span class="post-created-at">{{ post.created_at|date('jS F Y') }}</span>
                </div>
                <div class="pure-u-1 pure-u-md-1-3 justify-center">
                    <a class="form-submit swal-button swal-button--confirm" href="/blog/{{ post.id }}/edit">Edit</a>&nbsp;&nbsp;
{#                    <button class="swal-button swal-button--cancel" id="delete-post"#}
{#                            onclick="blog.deletePost({{ post.id }}, true)">Delete#}
{#                    </button>#}
                </div>
            </div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1">
                {{ post.content | raw }}
            </div>

        </div>
        <hr>
    </div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}