{% extends "layout.twig" %}

{% block additional_styles %}
{% endblock %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{  post.content | slice(74,93) }}">
    <meta name="author" content="{{  post.author }}">

    <meta property="og:title" content="{{ post.title }} | By {{  post.author }}" />
    <meta property="og:description" content="{{  post.content | slice(74,93) }}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url() }}" />
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="page-header">
            <div class="d-flex flex-column">
                <div>
                    <h1>{{ post.title }}</h1>
                    By {{ post.author }} on <span class="post-created-at">{{ post.created_at|date('jS F Y') }}</span>
                </div>
                {% if session.authenticated %}
                    <div class="mt-4">
                        <a class="form-submit swal-button swal-button--action" href="/blog/{{ post.id }}/edit">Edit</a>&nbsp;&nbsp;
                        <button class="swal-button swal-button--cancel" id="delete-post"
                                onclick="blog.deletePost({{ post.id }}, true)">Delete
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <article>
            {{ post.content | raw }}
        </article>
        <hr>
    </div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}