{% extends "layout.twig" %}

{% block additional_styles %}
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="page-header">
            <div class="d-flex flex-column">
                <div>
                    <h1>{{ post.title }}</h1>
                    By {{ post.author }} on <span class="post-created-at">{{ post.created_at|date('jS F Y') }}</span>
                </div>
                {% if session.authenticated %}
                    <div class="mt-4">
                        <a class="form-submit swal-button swal-button--action" href="/blog/{{ post.id }}/edit">Edit</a>&nbsp;&nbsp;
                        <button class="swal-button swal-button--cancel" id="delete-post"
                                onclick="blog.deletePost({{ post.id }}, true)">Delete
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <article>
            {{ post.content | raw }}
        </article>
        <hr>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let description = '{{ post.title }}';
            document.querySelector('meta[name="author"]')
                .setAttribute('content', '{{ post.author }}');
            document.querySelector('meta[name="description"]')
                .setAttribute('content', description);
            document.querySelector('meta[property="og:title"]')
                .setAttribute('content', '{{ post.title }}');
            document.querySelector('meta[property="og:description"]')
                .setAttribute('content', description);
            document.querySelector('meta[property="og:type"]')
                .setAttribute('content', 'article');
            document.querySelector('meta[property="og:url"]')
                .setAttribute('content', '{{ url() }}');
        })
    </script>
{% endblock %}